<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verified Users</title>
</head>
<body>
    <h1>Your phone has been verified!</h1>
    <button onclick="window.location.href='{% url 'register_user' %}'">Register new user</button><br><br>
    <label> Here is a list of all verified users:</label>
<table>
        <thead>
            <tr>
                <th>User ID</th>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Date of Registration</th>
            </tr>
        </thead>
        <tbody>
            {% for user in verified_users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.date_joined }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">No verified users found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
